.heading {
  color: var(--color-text-heading);
  font-family: var(--font-family-heading);
  font-weight: 700;
  overflow-wrap: break-word;
  line-height: 1.2;
}

.h1 {
  font-size: var(--font-size-3xl);
}

.h2 {
  font-size: var(--font-size-2xl);
}

.h3 {
  font-size: var(--font-size-xl);
}

.h4 {
  font-size: var(--font-size-lg);
}

.h5 {
  font-size: var(--font-size-base);
}

.h6 {
  font-size: var(--font-size-sm);
}
